:root {
    --text-color: ##303030;
    --secondary-text-color: #555555;
    --accent: #9DA4BD
    --white: #ffffff
    --button-color:#FF6C00;
    --accent-transparency:#9DA4BD 40 %;
  
  }
  body {
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    color: var(--text-color);
    background-color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.02em;
    
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  img {
    display: block;
  width: 100$;
    height: auto;
  }
  
  address {
    font-style: normal;
  }
  
  button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
  
  a {
    text-decoration: none;
  }
  
  /* .container {
  max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid to;
  } */
  
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  
  .gallery-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .link{
    text-decoration: none;
    color: #9DA4BD;
  }
  .container{
    padding-left: 31px;
    padding-right: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (max-width: 767px) {
    .container{
        max-width: 480px;
    }
  }
  @media screen and (min-width:768px) {
    .container{
        max-width: 768px;
    }
}
    @media screen and (min-width: 1170px) {
       .container{
        max-width: 1170px
       } 
    } 
        /*  */
   
  /* ------header */
  .header {
    padding: 32px 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .header-navigation {
    display: flex;
    align-items: center;
  }
  
  
  
  .header-item {}
  
  .header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
    position: relative;
    transition: color 0.35s linear;
  }
  
  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }
  
  .header-link.active {
    color: var(--accent-color);
  }
  
  .header-link.active::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -10px;
  }
  
  .header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: auto;
    margin-right: 43px;
  }
  
  .header-btn {
    min-width: 160px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    padding: 12px 20px;
  }
  
  .mobile-menu-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F7F7F7;
    margin-left: auto;
    margin-right: 43px;
  }
  
  .mobile-menu-button {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.1em;
    min-width: 160px;
    background-color: transparent;
    color: #F7F7F7;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    padding: 12px 20px;
  }
/* ----MOBILE---MENU- */


/* -------HERO------MOBILE---- */

  
  .hero-container{
    display: flex;
    width: 100%;
  }
  .hero-list {
    width: 100px;
    display: flex;
    gap: 40px;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    padding-top: 30px;
    padding-left: 90px;
  
  }
  .hero-list::before{
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
    position: absolute;
    left: 0;
    bottom: 7px;
   
  }
  .hero-list-wrap{
    display: flex;
    align-items: flex-end;
  
  }
  .subtitle{
  font-weight: 600;
  font-size: 11px;
  line-height: 1.33;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: rgba(157, 164, 189, 0.6);
  }
  .subtitle::before{
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
    display: block;
    margin-right: 20px;
    margin-top: 20px;
  }
  .hero-link::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
  }
  .hero-content{
    padding: 208px 128px 208px 31px;
    flex-grow: 1;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/bg-hero-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .hero-link:hover,
  .hero-link:focus{
    color:#FF6C00 ;
  }
  .hero-item {
    
      Font-size: 11px;
      Line-height: 1.36;
     color: #303030;
     transition: color 0.35s linear;
  }
  
  .hero-text {
  margin-top: 20px;
  font-weight: 600;
    Font-size: 11px;
    Line-height: 1.36;
    color: rgba(157, 164, 189, 0.6);
  }
  
  .hero-title {
    margin-top: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    Font-size: 48px; 
    Line-height: 1.18; 
    Letter-spacing: 0.05em;
    color: #FFFFFF;
  }
  
  .hero-desc {
    max-width: 321px;
    font-weight: 400;
    Font-size: 16px;
  color: #9DA4BD;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
  screen and (min-resolution: 192dpi)and (min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px){
    .hero-content{
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/bg-hero-mobile@2x.jpg);
    }
    
  }
  /* -----    about----MOBILE--- */
  .about {
    padding-bottom: 84px;
    padding-top: 84px;
  }
  
  .about-container{
    display: flex;
    gap: 30px;
     align-items: center;
     width: 100%;
  }
  .about-list{
    width: 50%;
  }
  .about-content{
    width: 100%;
    max-width: 418px;
  }
  .about-item{
    margin-bottom: 30px;
  }
  .about-text {
  margin-bottom: 20px;
     Font-size: 11px;
      Line-height: 1.36;
     color:  #303030;
  }
  
  .about-title {
    margin-bottom: 20px;
  font-weight: 700;
   Font-size: 28px;
  Letter-spacing: 0.05em;
  color: #303030;
  }
  .about-desc{
    margin-bottom: 20px;
    font-weight: 400;
     Font-size: 18px;
      line-height: 1.66em; 
      color: #555555;
  }
 .about-span-second{
font-weight:400;
Font-size: 14px;
Line-height: 1.8;
Letter-spacing: 0.02em;
 }
  .about-btn {
    border: 1px solid #FF6C00;
    border-radius: 25px;
    color: #303030;
    background-color: transparent;
    padding: 12px 20px;
  margin-top: 40px;
      Line-height: 1.33;
  Letter-spacing: 0.09em;
  }
  .about-btn:hover,
  .about-btn:focus{
    background-color: #FF6C00;
  } 
  /* ------prices---mobile */
  .prices{
    background-image: url(../img/prices-bg-mobile.png);
    background-color: #111319;
    background-repeat: no-repeat;
    background-position: center;
    padding: 84px 0 96px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
  screen and (min-resolution: 192dpi)and (min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px){
    .prices{
      background-image: url(../img/prices-bg-mobile@2x.png);
    }
  }
  .prices-container{
    width: 100%;
  }
  .prices-text{
    color: #9DA4BD;
    margin-bottom: 20px;
    Font-size: 11px;
     Line-height: 1.36;
    font-weight: 600;
  }
  .prices-title{
    color: #FFFFFF;
    margin-bottom: 44px;
    Font-family: "Raleway", sans-serif;
    Font-size: 40px;
      Line-height: 1.16;
      font-weight: 700;
      Letter-spacing: 0.05em;
  }
  .prices-item{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: baseline;
  }
  .prices-item-text{
    color: #9DA4BD;
    font-size:14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.66;
  }
  
  .prices-item-text:first-child{
    order: -1;
  }
  .prices-item::before{
    content: "";
    height: 1px;
    background-color: #9DA4BD1F;
    display: inline-block;
    flex-grow: 1;
  }
  .prices-list{
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .prices-content{
    margin-bottom: 44px;
  }
  
  .prices-btn{
    display: block;
    margin: auto;
    border: 1px solid #FF6C00;  
    border-radius: 25px;
    color: #FFFFFF;
    background-color: transparent;
    padding: 12px 20px;
  
  }
  .prices-btn:hover,
  .prices-btn:focus{
    background-color: #FF6C00;
  }
  /* -----FEATURE---MOBILE */
  .feature{
    padding: 120px 0;
  }
 .feature-container{
  width: 100%;
 }
  
  
  .feature-list > span{
    font-weight: 700;
      Font-size: 42px;
      Line-height: 1.35;
      Letter-spacing: 0.05em;
      color: #303030;
      
      position: relative;
  }
  .feature-list > span::after{
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: #FF6C00;
  position: absolute;
  right: -10;
  top: 7px;
  }
  .feature-list{
    width: 170px;
    height: 132px;
    padding: 20px 24px;
    background-color: #F7F7F7;
  }
  .feature-list:nth-child(even){
    margin-top: 30px;
  
  }
  
  .feature-item{
    width: 100%;
    display: flex;
   flex-wrap: wrap;
   gap: 30px;
  }
  .feature-content{
    width: 100%;
    max-width: 500px;
  }
  .feature-list-desc{
  font-weight: 600;
   Font-size: 11px;
    Line-height: 1.33;
    text-align: center;
    color: #303030;
  }
  .feature-text{
  margin-bottom: 20px;
     Font-size: 11px;
      Line-height: 1.36;
      color: #303030;
  }
  .feature-title{
    margin-bottom: 20px;
  font-weight: 700;
     Font-size: 42px;
      Line-height: 1.16;
  Letter-spacing: 0.05em;
  color: #303030;
  }
  .feature-desc{
  font-weight: 400;
   Font-size: 18px;
    Line-height: 1.66;
  
  color: #555555;
  } 
  /* ------OUR TEAM---- */
  .our-team{
    background-color: #F7F7F7;
    padding-top: 84px;
  padding-bottom: 84px;
  }
  .our-team-container{
    width: 100%;
  }
  .team-social-list{
    display: flex;
    justify-content: center;
    gap: 10px;
  
  }
  .team-social-item{
    width: 44px;
    height: 44px;
    
    
  }
  .team-social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .team-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: color 0.35s linear, background 0.35s linear;
  
  }
  .our-team{
    padding: 120px 0;
    background-color: #F7F7F7;
  }
  
  .our-team-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 30px;
    
  }
  .our-team-item{
    width: 100%;
    
  }
  
  .our-team-text{
  
  margin-bottom: 30px;
   Font-size: 11px;
    Line-height: 1.36;
    color: #303030 ;
  }
  .our-teeam-title{
    margin-bottom: 44px;
  font-weight: 700;
     Font-size: 42px;
      Line-height: 1.16;
     Letter-spacing: 0.05em;
     color: #303030;
  }
  .our-team-item-title{
    margin-bottom: 8px;
    margin-top: 30px;
    text-align: center;
  font-weight: 400;
     Font-size: 18px;
      Line-height: 1.38;
  
  color: #303030;
  }
  .our-team-item-text{
    margin-bottom: 30px;
    text-align: center;
  font-weight: 400;
     Font-size: 14px;
     Line-height: 1.35;
  
   color: #FF6C00;
  }
  .team-social-link:hover,
  .team-social-link:focus{
    fill: #FF6C00;
  }
  /* GALLEERY------ */
  .gallery{
    padding: 120px 0;
    background-color: #FFFFFF;
  }
  .gallery-container{
    width: 100%;
  }
  .gallery-text{
  margin-bottom: 44px;
     Font-size: 11px;
      Line-height: 1.36;
      color: #303030;
  }
  .gallery-item{
    margin-bottom: 30px;
  }
  /* contacts */
  .contacts{
    background-image: url(../img/bg-contact.png);
      background-repeat: no-repeat;
      background-position: right;
      background-size: 50% 100%;
      padding: 130px 0 120px;
      background-color:#191C26;
    }
   
    .contact-form{
      padding-bottom: 84px;
    }
   
    .contacts-title{
      margin-bottom: 40px;
      color: #FFFFFF;
      Font-family: "Raleway", sans-serif;
     font-weight: 700;
     Font-size: 42px;
      Line-height: 1.16;
      Letter-spacing: 0.05em;
    }
    .contact-desc{
      margin-bottom: 20px;
      font-weight: 600;
     Font-size: 11px ;
     Line-height: 1.36;
     color: #FFFFFF;
    }
    .contact-text{
      Font-style: 400;
       Font-size: 18px;
       Line-height: 1.66;
      Letter-spacing: 0.02em;
      color: #9DA4BD;
    }
    .address-item-link{
      margin-bottom: 20px;
      font-weight: 700;;
      Font-size: 18px;
       Line-height: 1.66;
      Letter-spacing: 0.02em;
      color: #9DA4BD;
    }
    .address-item-tel{
      margin-bottom: 20px;
      font-weight: 400;
        Font-size: 18px;
        Line-height: 1.66;
        Letter-spacing: 0.02em;
        color: #9DA4BD;
    }
    .address-item-mail{
    
      margin-bottom: 70px;
      font-weight: 400;
      Font-size: 18px;
        Line-height: 1.66;
        Letter-spacing: 0.02em;
        color: #9DA4BD;
    }
    
    .online-title{
      margin-bottom: 44px;
      font-family: "relaway" sans-serif;
      font-size: 42px;
      font-weight: 700;
      letter-spacing: 0.05em;
      color: #FFFFFF;
    }
    
    .address-social-icon{
      width: 24px;
      height: 24px;
      color: #303030;
    fill: #FFFFFF;
    }
    .contact-container{
      width: 100%;
    }
  
        .modal-booking{
   
        }
        .modal-booking-contact{
            display: flex;
        align-items: center;
        justify-content: center;
        }
        .modal-booking-input{
          width: 100%;
          margin-bottom: 44px;
        padding-bottom: 8px;
          background-color: transparent;
          border-color: transparent;
          border-bottom: 1px solid #9DA4BD66;
        }
        
        .modal-booking-field{
          display: block;
        
          width: 100%;
          margin-bottom: 44px;
        }
        .modal-booking-input-message{
          resize: none;
          width: 100%;
          height: 100px;
          padding-bottom: 60px;
          transition: border-color 250ms linear;
          outline: none;
          background-color: transparent;
          border-color: transparent;
          border-bottom: 1px solid #9DA4BD66;
        
          
        }
        .modal-booking-submit{
          margin: 0 auto;
          display: block;
          color: #FFFFFF;
          background-color: transparent;
        font-weight: 400;
        Font-size: 12px;
        Line-height: 1.33;
        Letter-spacing: 0.09em;
        padding: 12px 62px;
        border: 1px solid #FF6C00;
        border-radius: 25px;
        }
        .modal-booking-input:focus{
          outline: none;
          border-bottom: 1px solid #FFFFFF;
        
        }
        .modal-booking-input-message:focus{
          outline: none;
          border-bottom: 1px solid #ffffff;
         
          
        }
        input:focus::-webkit-input-placeholder{ 
          color:#FFFFFF; 
        }
        textarea:focus::-webkit-input-placeholder{
          color:#FFFFFF; 
        }
        
        .modal-booking-submit:focus,
        .modal-booking-submit:hover{
        background-color: #FF6C00;
        }
        .copyright{
          Font-style: 600;
           Font-size: 11px;
           Line-height: 1.36;
           letter-spacing: 0.02em;
           color: #9DA4BD;
        }
        
        .footer-link{
          color: #303030;
        Font-style: 600;
            Font-size: 11px;
            Line-height: 1.36;
            letter-spacing: 0.02em;
            text-transform: none;
          }
        
          .footer-list{
            display: flex;
            gap: 40px;
            align-items: center;
            position: absolute;
            right: 0;
            top: -20px;
          }
          .footer-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
          }
          .footer{
        
            padding: 56px 0;
          }
          .footer-list::before{
            content: "";
            width: 60px;
            height: 1px;
            background-color: currentColor;
          }
          .footer-link:hover,
            .footer-link:focus{
              color: ;
            }
            .footer-link:hover,
            .footer-link:focus{
            color: #FF6C00;
            }
        /* ------------- */
        .backdrop{
          width: 100%;
          height: 100%;
          background-color: rgb(0, 0, 0, 0.5);
          position: fixed;
          left: 0;
          top: 0;
          transition: opacity 0.35s linear, visibility 0.35s linear;
        }
        .modal{
          padding: 40px;
          width: 500px;
          height: 500px;
          background-color: #FFFFFF;
          padding: 20px;
          border-radius: 5px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        
        }
        .close-btn-modal{
          width: 30px;
          height: 30px;
          border: 1px solid #111319;
          display: block;
          margin-left: auto;
          border-radius: 50%;
          background-color: #FFFFFF;
        }
        .is-hidden{
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
        }
        .modal-form{
          display: flex;
          flex-direction: column;
          }
          .modal-form-input{
            width: 100%;
            height: 40px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding-left: 42px;
            font-size: 16px;
            transition: border-color 250ms linear;
          }
          .modal-form-desc{
            display: block;
          Font-family: "Roboto";
          font-weight: 400;
          Font-size: 12px;
          Line-height: 1.16;
          Letter-spacing: 0.04em;
          color: #8E8F99;
          margin-bottom: 4px;
          }
          .modal-form-field{
            margin-bottom: 8px;
          }
          .modal-form-input-icon{
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translate(0, -50%);
            
          }
          
          .modal-form-input-wrap{
            display: block;
            position: relative;
          }
          .modal-form-input:focus,
          .modal-form-input:hover{
            outline: none;
            border-color:#4D5AE5;
            fill: #4D5AE5;
          }
          
          .modal-form-input:hover + .modal-form-input-icon{
          fill: #4D5AE5;
          } 
          
          
          .modal-form-message{
            resize: none;
            width: 100%;
            height: 100px;
            padding: 8px 16px;
            transition: border-color 250ms linear;
            
          }
          .modal-form-message:focus{
            outline: none;
            border-color: #4D5AE5;
          
          }
          .modal-form-message::placeholder{
            text-transform: uppercase;
          }
          .modal-form-check-desc::before{
            width: 16px;
            height: 16px;
            display: block;
            border: 1.25px solid #2E2F42;
            border-radius: 2px;
            cursor: pointer;
            content: "";
            margin-right: 8px;
          
          }
          .modal-form-check:checked + .modal-form-check-desc::before{
          background-color: #4D5AE5;
          background-image: url(../img/checkbox.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          }
          .modal-form-check:focus + .modal-form-check-desc::before{
            outline: 2px #4D5AE5;
            
            }
            .modal-form-check-desc{
             
              display: flex;
              align-items: center;
              Font-size: 12px;
              Letter-spacing: 0.04em;
              margin-bottom: 24px;
            }
            .modal-form-buttom {
              min-width: 160px;
           align-self: center;
              color: black;
              border: 1px solid #FF6C00;
              border-radius: 25px;
              padding: 12px 20px;
              text-transform: uppercase;
              background-color: transparent;
              border-color: #FF6C00;
              transition: var(--text-color) 250ms linear, background-color var(--secondary-text-color);
            }
            .modal-form-buttom:hover,
            .modal-form-buttom:focus{
          background-color: #FF6C00;
            } 



  @media screen and (min-width:480px) {
  
    
  }
  @media screen and (max-width: 767px) {
.hero-list{
        display: none;
    }
    .tablet-contact-menu{
        display: none;
    }
    .about-list{
        display: none;
    }
    .about-item{
  display: none;
    }
    .prices{
      max-width: 767px;
      padding: 100px 0 112px;
    }
    .our-team-item{
      margin-bottom: 64px;
    }
    .header-navigation{
      display: none;
    }
    .mobile-menu-tel{
      display: none;
    }
    .mobile-menu-button{
      display: none;
    }
    .modal{
      width: 95%;
      max-width: 392px;
      height: 95%;
      max-height: 586px;
      overflow: scroll;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi)and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px){
  .prices{
    background-image: url(../img/prices-bg-tablet@2x.png);
  }
}
@media screen and (min-width:768px) and (max-width: 1199px) {
  .mobile-menu-tel{
      order: 1;
    }
   
    .mobile-menu-button{
      margin-left: 90px;
    }
}
  @media screen and (min-width:768px) {
   
   /* ---HERO-TABLET--- */
   .mobile-menu-tel{
    margin-left: 100px;
   }
    
    .about-btn {
      margin-bottom: 77px;
    }
    
    .prices-title{
      font-size: 42px;
    }
    .prices-item-text{
      font-size: 18px;
    }
    .feature-list{
      width: 210px;
  }
  .our-team-list{
    display: flex;
    flex-wrap: wrap;
 justify-content: center;
    gap: 30px;
    
  }
  .gallery-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  .gallery-item{
    width: calc((100% - 60px) / 2);
  }
  .contact-wrap{
    display: flex;
  }
  .contact-address-wrap{
    width: 65%;
  }
  .contact-time-wrap{
    width: 35%;
  }
  .modal-booking-contact{
    gap: 30px;
  }
  .modal-booking-name{
    width:50%;
  }
  .modal-booking-phone{
    width: 50%;
  }
  .footer-list{
    position: static;
  }
  .header-logo {
    margin-right: 58px;
  }
  
  .header-list {
    display: flex;
    gap: 20px;
  }
}
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi)and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px){
  .prices{
    background-image: url(../img/prices-bg.png);
  }
}
  @media screen and (min-width:1200px) {
    .header-logo {
      margin-right: 131px;
    }
    
    .header-list {
      display: flex;
      gap: 30px;
    }
   
    /* ---HERO-DESKTOP */


    .header-logo {
      margin-right: 131px;
    }
     .hero-title{
        font-size: 72px;
    }
    .about-list{
      display: flex;
      gap: 30px;
      
    }
    .about-btn {
      margin-bottom: 42px;
    }
    .about-content{
      max-width: 470px;
    }
    .prices{
      max-width: 1440px;
      padding: 120px 0;
    }
    .prices-content{
      display: flex;
      gap: 30px;
      margin-bottom: 44px;
    }
    .prices-list{
      width: calc((100% - 30px) / 2);
      padding: 30px 20px ;
      flex-grow: 1;
    }
    .prices-item{
      gap:  12px;
    }
    .feature-container{
      display: flex;
   
    
    }
    .feature-item{
      width: 45%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      padding-left: 70px;
      padding-right: 70px;
    }
    .feature-content{
      width: 55%;
      max-width: 500px;
  }
  .feature-container{
    display: flex;
  }
  .our-team-list{
  
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
  }
  .our-team-item{
    width: calc((100% - 60px) /3 ) ;
  }
  .gallery-item{
    width: calc((100% - 90px) / 4);
  }
  .contact-container{
    display: flex;
  }
  .contact-form{
    width: 55%;
  }
  .contact-wrap{
    width: 45%;
    padding-left: 200px;
  }
  .modal-booking-input-message{
    width: 570px;
   
} .modal-booking-input{
  width: 270px;
  
}
.modal-booking-name{
  margin-right: 30px;
  }
  .contact-wrap{
    display: block;
  }
.contact-time-wrap{
  width: 100%;
}


}
  
  
  
  
  
  /* our-team------------ */
  /* .our-team{
    background-color: #F7F7F7;
  }
  .team-social-list{
    display: flex;
    justify-content: center;
    gap: 10px;
  
  }
  .team-social-item{
    width: 44px;
    height: 44px;
    
    
  }
  .team-social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .team-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: color 0.35s linear, background 0.35s linear;
  
  }
  .our-team{
    padding: 120px 0;
    background-color: #F7F7F7;
  }
  
  .our-team-list{
  
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
  }
  .our-team-item{
    width: calc((100% - 60px) /3 ) ;
  }
  
  .our-team-text{
  
  margin-bottom: 30px;
   Font-size: 11px;
    Line-height: 1.36;
    color: #303030 ;
  }
  .our-teeam-title{
    margin-bottom: 44px;
  font-weight: 700;
     Font-size: 42px;
      Line-height: 1.16;
     Letter-spacing: 0.05em;
     color: #303030;
  }
  .our-team-item-title{
    margin-bottom: 8px;
    margin-top: 30px;
    text-align: center;
  font-weight: 400;
     Font-size: 18px;
      Line-height: 1.38;
  
  color: #303030;
  }
  .our-team-item-text{
    margin-bottom: 30px;
    text-align: center;
  font-weight: 400;
     Font-size: 14px;
     Line-height: 1.35;
  
   color: #FF6C00;
  }
  .team-social-link:hover,
  .team-social-link:focus{
    fill: #FF6C00;
  } */
  /* ---------galery------- */
  /* .gallery{
    padding: 120px 0;
    background-color: #FFFFFF;
  }
  .gallery-text{
  margin-bottom: 44px;
     Font-size: 11px;
      Line-height: 1.36;
      color: #303030;
  }
  .gallery-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .gallery-item{
    width: calc((100% - 90) / 4);
  }
  
   */
  
  
  
  /* ---------Contact------ */
  
  /* .contacts{
  background-image: url(../img/bg-contact.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;
    padding: 130px 0 120px;
    background-color:#191C26;
  }
  .contact-container{
    display: flex;
  }
  .contact-form{
    width: 55%;
  }
  .contact-wrap{
    width: 45%;
    padding-left: 100px;
  }
  .contacts-title{
    margin-bottom: 40px;
    color: #FFFFFF;
    Font-family: "Raleway", sans-serif;
   font-weight: 700;
   Font-size: 42px;
    Line-height: 1.16;
    Letter-spacing: 0.05em;
  }
  .contact-desc{
    margin-bottom: 20px;
    font-weight: 600;
   Font-size: 11px ;
   Line-height: 1.36;
   color: #FFFFFF;
  }
  .contact-text{
    Font-style: 400;
     Font-size: 18px;
     Line-height: 1.66;
    Letter-spacing: 0.02em;
    color: #9DA4BD;
  }
  .address-item-link{
    margin-bottom: 20px;
    font-weight: 700;;
    Font-size: 18px;
     Line-height: 1.66;
    Letter-spacing: 0.02em;
    color: #9DA4BD;
  }
  .address-item-tel{
    margin-bottom: 20px;
    font-weight: 400;
      Font-size: 18px;
      Line-height: 1.66;
      Letter-spacing: 0.02em;
      color: #9DA4BD;
  }
  .address-item-mail{
  
    margin-bottom: 70px;
    font-weight: 400;
    Font-size: 18px;
      Line-height: 1.66;
      Letter-spacing: 0.02em;
      color: #9DA4BD;
  }
  
  .online-title{
    margin-bottom: 44px;
    font-family: "relaway" sans-serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #FFFFFF;
  }
  
  .address-social-icon{
    width: 24px;
    height: 24px;
    color: #303030;
  fill: #FFFFFF;
  } */
  /*--------- BOOKING-FORM-------- */
  /* .modal-booking{
   
  }
  .modal-booking-contact{
      display: flex;
  align-items: center;
  justify-content: center;
  }
  .modal-booking-input{
    width: 270px;
    margin-bottom: 44px;
  padding-bottom: 8px;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid #9DA4BD66;
  }
  .modal-booking-name{
  margin-right: 30px;
  }
  .modal-booking-field{
    display: block;
  
    width: 100%;
    margin-bottom: 44px;
  }
  .modal-booking-input-message{
    resize: none;
    width: 570px;
    height: 100px;
    padding-bottom: 60px;
    transition: border-color 250ms linear;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid #9DA4BD66;
  
    
  }
  .modal-booking-submit{
    display: block;
    color: #FFFFFF;
    background-color: transparent;
  font-weight: 400;
  Font-size: 12px;
  Line-height: 1.33;
  Letter-spacing: 0.09em;
  padding: 12px 62px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  }
  .modal-booking-input:focus{
    outline: none;
    border-bottom: 1px solid #FFFFFF;
  
  }
  .modal-booking-input-message:focus{
    outline: none;
    border-bottom: 1px solid #ffffff;
   
    
  }
  input:focus::-webkit-input-placeholder{ 
    color:#FFFFFF; 
  }
  textarea:focus::-webkit-input-placeholder{
    color:#FFFFFF; 
  }
  
  .modal-booking-submit:focus,
  .modal-booking-submit:hover{
  background-color: #FF6C00;
  } */
  /* --------FOOTER-------- */
  /* .copyright{
    Font-style: 600;
     Font-size: 11px;
     Line-height: 1.36;
     letter-spacing: 0.02em;
     color: #9DA4BD;
  }
  
  .footer-link{
    color: #303030;
  Font-style: 600;
      Font-size: 11px;
      Line-height: 1.36;
      letter-spacing: 0.02em;
      text-transform: none;
    }
  
    .footer-list{
      display: flex;
      gap: 40px;
      align-items: center;
    }
    .footer-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer{
  
      padding: 56px 0;
    }
    .footer-list::before{
      content: "";
      width: 60px;
      height: 1px;
      background-color: currentColor;
    }
    .footer-link:hover,
      .footer-link:focus{
        color: ;
      }
  .backdrop{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    transition: opacity 0.35s linear, visibility 0.35s linear;
  }
  .modal{
    padding: 40px;
    width: 500px;
    height: 500px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  .modal-close{
    width: 30px;
    height: 30px;
    border: 1px solid #111319;
    display: block;
    margin-left: auto;
    border-radius: 50%;
    background-color: #FFFFFF;
  }
  .is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .footer-link:hover,
  .footer-link:focus{
  color: #FF6C00;
  } */
  /* ___________ */
  /* .modal-form{
  display: flex;
  flex-direction: column;
  }
  .modal-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    font-size: 16px;
    transition: border-color 250ms linear;
  }
  .modal-form-input-desc{
    display: block;
  Font-family: "Roboto";
  font-weight: 400;
  Font-size: 12px;
  Line-height: 1.16;
  Letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 4px;
  }
  .modal-form-field{
    margin-bottom: 8px;
  }
  .modal-form-input-icon{
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
    
  }
  
  .modal-form-input-wrap{
    display: block;
    position: relative;
  }
  .modal-form-input:focus,
  .modal-form-input:hover{
    outline: none;
    border-color:#4D5AE5;
    fill: #4D5AE5;
  }
  
  .modal-form-input:hover + .modal-form-input-icon{
  fill: #4D5AE5;
  } 
  
  
  .modal-form-message{
    resize: none;
    width: 100%;
    height: 100px;
    padding: 8px 16px;
    transition: border-color 250ms linear;
    
  }
  .modal-form-message:focus{
    outline: none;
    border-color: #4D5AE5;
  
  }
  .modal-form-message::placeholder{
    text-transform: uppercase;
  }
  .modal-form-check-desc::before{
    width: 16px;
    height: 16px;
    display: block;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    cursor: pointer;
    content: "";
    margin-right: 8px;
  
  }
  .modal-form-check:checked + .modal-form-check-desc::before{
  background-color: #4D5AE5;
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  }
  .modal-form-check:focus + .modal-form-check-desc::before{
    outline: 2px #4D5AE5;
    
    }
    .modal-form-check-desc{
     
      display: flex;
      align-items: center;
      Font-size: 12px;
      Letter-spacing: 0.04em;
      margin-bottom: 24px;
    }
    .modal-form-submit {
      min-width: 160px;
   align-self: center;
      color: black;
      border: 1px solid #FF6C00;
      border-radius: 25px;
      padding: 12px 20px;
      text-transform: uppercase;
      background-color: transparent;
      border-color: #FF6C00;
      transition: var(--text-color) 250ms linear, background-color var(--secondary-text-color);
    }
    .modal-form-submit:hover,
    .modal-form-submit:focus{
  background-color: #FF6C00;
    } */